@charset "utf-8";

@font-face{
    font-family: Folio Lt Bt;
    src: url(../fontes/folio-lt-bt-light.ttf)
}

@font-face{
    font-family: Folio Bk Bt;
    src: url(../fontes/folio-bk-bt-book.ttf)
}

body{
    padding: 0;
    margin: 0px;
    background: #333333;
}

#barra_topo {

    height: 20px;
    width: 1020px;
    background-color: #54c5d0;
    padding: 0;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0 auto;
}

#barra_topo #conteudo_barra {

    height: 20px;
    width: 1020px;
    text-align: right;
    font-family: Folio Bk Bt;
}

#menu ul{

    height: 40px;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    font-family: Folio Bk Bt;
    text-align: right;
    background-color: #333333;
    list-style: none;
}

#menu ul li { 
    
    display: inline; 
}

#menu ul li a {
    
    padding: 2px 10px;
    display: inline-block;
    background-color:#333333;
    color: #FFF;
    text-decoration: none;
}

#menu ul li a:hover {
    
    background-color:#54c5d0;
    color: #FFF;
    
}

#logo {
    width: 50px;
    height: 25px;
    margin-top: 0px;
    position: fixed;
}

#site{

    width: 1024px;
    height: 768px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background: #333333;
}

#banner {

    margin-left: auto;
    margin-right: auto;
    
}

#banner #banner_img{
    
    width: 1020px;
    height: 580px;
    border: solid 3px #333333;
    
}

#banner a{  

    border: solid 1px #333333;
    background-color: #f7f7f7;
    padding: 5px;
    text-decoration: none;
    color: #000;
}

#banner a:hover{

    border: solid 1px #333;
    text-decoration: underline;
    background-color: #333;
    color: #FFF;
}

#banner a.hover {

    background-color: #333;
    color: #FFF;
}

#fundo_banner {

    width: 1020px;
    height: 580px;
    background-color: #347f86;
    border-bottom-right-radius: 300px 20px;
    border-bottom-left-radius: 300px 20px;
}

#botoes {

    width: 1020px;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
}

#botoes a {

    width: 1020px;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
}

#linha {

    width: 1024px;
    border-top: 1px solid #1f1a17;
    border-bottom: 1px solid #454545;
}

#endereco {

    font-family: Folio Lt Bt;
    font-size: 7px;
    margin-left: 30px;
    margin-top: 30px;
    color: #d8d8d8;
}

#posicao {

    margin-top: 10px;
}

img {

    border-bottom-right-radius: 600px 100px;
    border-bottom-left-radius: 600px 100px;
    
}