@charset "utf-8";

@font-face{
    font-family: Folio Lt Bt;
    src: url(../css/Font-Folio/folio-lt-bt-light.ttf)
}

@font-face{
    font-family: Folio Bk Bt;
    src: url(../css/Font-Folio/folio-bk-bt-book.ttf)
}

body {

    background-color: #333333;

}
.redes_sociais{
    height: 30px;
    background-color: #54c5d0;
}
.redes_sociais .row{
    padding-top: 5px;
    padding-bottom: 5px;
    margin:0px;
}

.redes_sociais .paises .col-2{
    
    padding-bottom: 10px;
    margin:0px;
}
.logo{

    position: absolute;
    z-index: 9999;
    padding-top: 110px;
    text-align: right;
}


nav{
    
    color: #fff;
    font-family: Folio Bk Bt;
    background-color: #333333;
}

nav li a:hover {
    transition: 1s;
    color: #4ca8b1!important;
}
.dropdown-menu {
    background-color: #333333;
    color: #fff!important;
}

.dropdown-menu .show{
    
    padding: 0;
    margin-top: 0; 
}
.dropdown-menu a{
    
    margin-top: 0;
    border-right:  1px solid #1f1a17;
    border-left: 1px solid #454545;
    border-top:  1px solid #1f1a17;
    border-bottom:  1px solid #454545;
    color: #fff!important;
}

.dropdown-menu a:hover{
    
    background-color: #333333;
}

.border_meio{
    border-right:  1px solid #1f1a17;
    border-left: 1px solid #454545;
    color: #fff;
    font-family: Folio Bk Bt;
    background-color: #333333;
}
.border_fim{

    
    border-left: 1px solid #454545;
 
}
.border_inicio{
    border-right:  1px solid #1f1a17;
}

nav ul{
    color: #fff;
}
.carousel-item {
    background-color: #54c5d0;
    height: 650px;
    width: 100%;
    -moz-border-radius: 0em 0em 4em 4em;
    border-radius: 0em 0em 4em 4em;
    z-index: 3;
}

.rodape {
    opacity: 100%;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right:450px;
}

.linha_footer{
    margin-top: 60px;
    border-top: 1px solid #1f1a17;
    border-bottom: 1px solid #454545;
}
.contato{
    font-family: Folio Lt Bt;
    font-size: 14px;
    color: #d8d8d8;
    padding:30px;
}

footer {
    position:static;
    bottom:0;
    width:100%;
}

body > footer > div.container > div > div.col-4.contato > img{

    margin-left: 140px!important;
}

